*.pyc
*~
*.log
*.aux
*.tdo
*.
*.synctex.gz
*.toc
.DS_Store
*.out
*.o
*.a
*.x
*.out
src/library/foam/steadyTauFoam/Make/linux64GccDPOpt/
src/library/foam/steadyTauFoam/steadyTauFoam.dep
src/library/foam/turbulenceModel/Make/linux64GccDPOpt/
src/library/foam/turbulenceModel/lnInclude/
src/library/foam/turbulenceModel/myLRR/myLRR.dep
